.pipeline-tabs {
    height: calc(100vh - 60px);

    .pipeline-tabs-list {
        white-space: nowrap;
        flex-wrap: nowrap;
    }

    .pipeline-tab {
        flex-grow: 1;
        max-height: calc(100vh - 60px);
        overflow-y: hidden;

        &.io {
            .io-stack {
                height: calc(100vh - 152px);
                flex-grow: 1;

                .io-list {
                    overflow-y: hidden;
                    flex-grow: 1;
                    height: 100%;

                    .io-scroll {
                        overflow-y: hidden;
                        height: 100%;
                        .io-entry-item {
                            position: relative;

                            .entry-actions {
                                position: absolute;
                                top: 12px;
                                right: 12px;
                            }

                            .entry-title {
                                max-width: calc(100% - 96px);
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}
.io-create-modal {
    .io-form-stack {
        .io-extra {
            &.data {
                .field-list {
                    max-height: 50vh;
                    overflow-y: hidden;

                    .field-stack {
                        max-height: calc(50vh - 46px);
                        overflow-y: hidden;

                        .field-items-scroll {
                            max-height: calc(100%);
                            overflow-y: auto;

                            .data-entry-field-item {
                                position: relative;

                                .field-actions {
                                    position: absolute;
                                    top: 12px;
                                    right: 12px;
                                    opacity: 0.75;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
